div{
    display: flex;
    width: 100%;   
    justify-content: center;
}
div img{
    width: 50em;
    height: 50em;
    object-fit: contain;
}

@media only screen and (max-width:800px){
    div img{
        width: 100%;      
    }
}