html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{   
    background-image: linear-gradient(75deg, white,rgb(68, 68, 68));
    background-size:contain;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    min-height:5em;
    box-shadow: 5px 5px 5px black;   
}

#navbarNav{
    justify-content: start;
}



footer{
    display:flex;
    background-color:  rgba(0, 0, 0, 0.5) ;
    width:100%;
    justify-content: center;
    position:fixed;
    bottom: 0;
    left: 0;
}